 @font-face {
    font-family: 'Corbel-Reguler';
    src: url('../fonts/corbel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Corbel-Bold';
    src: url('../fonts/corbelb.ttf') format('truetype');
    font-weight: bold;
}

body {
	font-family: 'Corbel-Reguler';
}

.h1FullName {
	font-family: 'Corbel-Bold';
	text-decoration: underline;
}

.titleA01 {
	text-align: right;
	font-family: 'Corbel-Reguler';
	font-weight: bold;
}

.firstSection {
	margin: 20px auto 50px;
}

.leftFirstSection {
	padding-left: 50px;
}

.rightFirstSection {
	padding-right: 50px;
}

.leftTitleRotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);
	white-space: nowrap;
	writing-mode: bt-rl;
	text-indent: -3em;

    padding: 0px 0px 0px 0px;
    margin: 0px;
    text-align: left;
    vertical-align: top;
}

.titleB01 {
	margin-left: 25px;
	font-weight: bold;
}

.section {
	width: 100%;
  	height: auto;
  	display: block;
  	/* margin-top: -2px; */
}

.fa-ul.col-md-8, .fa-ul.skill {
	border-left: 1px dashed #000;
  	padding: 0px 14.5px;
  	margin-left: 10px;
}

.rightSection {
	border-left: 1px dashed #000;
}

.rightSection .section {
	margin-left:-25px;
}

.rightSection .section .fa-ul.skill {
	border-left:none;
}

.fa-ul.skill li i{
	background: white;
}

.progressBar {
	list-style: none;
  width: 100%;
  padding-left: 2%;
}

.progressBar li {
	height: 1em;
	width: 6%;
	margin-right: 2px;
	background: rgba(57,73,89,0.2);
	-webkit-transform: skewX(-20deg);
	display: inline-block;

}

.progressBar li.filled {
	background: rgba(57,73,89,1);
}

#sidebar-small {
    width: 40px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#open_nav {
    white-space:nowrap;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: 1em;
    display: block;
    color: #333333;
    text-decoration: none;
    background: url("img/menu-s.png") no-repeat 18px -30px transparent;
    padding-left: 50px;
    padding-right: 19px;
    line-height: 40px;
    position: absolute;
    bottom: 18px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 20px;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 20px;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 20px;
    -o-transform: rotate(-90deg);
    -o-transform-origin: 20px;
    transform: rotate(-90deg);
    transform-origin: 20px;
}
